<footer class="footer black" role="contentinfo">
  <div class="wrap">
    <div class="row">
      <!-- Column -->
      <article class="one-half">
        <h6>Sobre nosotros</h6>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
      </article>
      <!-- //Column -->

      <!-- Column -->
      <article class="one-fourth">
        <h6>¿Necesita ayuda?</h6>
        <p>Puede contactarnos por teléfono o email</p>
        <p class="contact-data"><span class="icon icon-themeenergy_call"></span> +34 637 70 13 74</p>
        <p class="contact-data"><span class="icon icon-themeenergy_mail-2"></span> <a href="mailto:info@mybooking.es">info@mybooking.es</a></p>
      </article>
      <!-- //Column -->

      <!-- Column -->
      <article class="one-fourth">
        <h6>Síguenos</h6>
        <ul class="social">
          <li><a href="#" title="facebook"><i class="fa fa-fw fa-facebook"></i></a></li>
          <li><a href="#" title="twitter"><i class="fa fa-fw fa-twitter"></i></a></li>
          <li><a href="#" title="gplus"><i class="fa fa-fw fa-google-plus"></i></a></li>
          <li><a href="#" title="linkedin"><i class="fa fa-fw fa-linkedin"></i></a></li>
          <li><a href="#" title="pinterest"><i class="fa fa-fw fa-pinterest-p"></i></a></li>
          <li><a href="#" title="vimeo"><i class="fa fa-fw fa-vimeo"></i></a></li>
        </ul>
      </article>
      <!-- //Column -->
    </div>

    <div class="copy">
      <p>Copyright 2017, Mybooking. </p>

      <nav role="navigation" class="foot-nav">
        <ul>
          <li><a href="/" title="Home">Inicio</a></li>
          <li><a href="/condiciones" title="Condiciones">Condiciones</a></li>
          <li><a href="/contacto" title="Contacto">Contacto</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>