            <div class="row">
                <div class="col-sm-12">
                        <div class="post post-full">
                            <% if content.album and content.album.photos.size > 0 %>
                            <div class="post-header">
                                <div class="post-slide">
                                    <div id="sl1">
                                        <a class="sl1_prev" href="#"></a>
                                        <a class="sl1_next" href="#"></a>
                                        <div class="sl1_pagination"></div>
                                        <div class="carousel-box">
                                            <div class="inner">
                                                <div class="carousel main">
                                                    <ul>
                                                    	<% content.album.photos.each do |photo| %>
                                                        <li>
                                                            <div class="sl1">
                                                                <div class="sl1_inner">
                                                                    <img src="<%=photo.photo_url_full%>" alt=""
                                                                         class="img-responsive">
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <% end %>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                            <div class="post-story">
                                <h2><%= content.title %></h2>
                                <div class="post-story-body clearfix">
                                    <%= content.body%>
                                </div>
                            </div>
                        </div>
                </div>       
            </div>            