            <div class="row">
                <div class="col-sm-9">
                    <div class="blog_content">
                      <%= view_body %>
                    </div>
                </div>
            </div>

