            <div class="isotope-box">
                <div id="container" class="clearfix">
                    <ul class="thumbnails clearfix" id="isotope-items">
                        <!--div class="grid-sizer col-sm-4"></div>
                        <div class="gutter-sizer"></div-->
                        <%= view_body %>
                    </ul>
                </div>
            </div>

